@import "../../styles/responsiveness";

.burger-container {
  display: inline-block;
  height: 36px;
  margin-left: 10px;
  margin-top: 7px;
  width: 33px;

  @include mq-desktop {
    display: none;
  }
}

.burger-icon-link {
  display: inline-block;
  line-height: 8.5px;
  text-decoration: none;
  width: 33px;
}

.white-burger-icon-color {
  background-color: black !important;
}

.active-slide-panel {
  margin-left: 20px;
  margin-top: 19px;
}

.burger-span-element {
  display: inline-block;
  height: 3px;
  width: 30px;
}
